---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?filter%5BclinicianId%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-version:
      - '2019-01-17'
      Application-build-version:
      - 0.0.0
      Application-platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      status:
      - 200 OK
      etag:
      - W/"89b4c7d422dbc7177067233f29abee48"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"<%= service_id %>","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/3866"},"attributes":{"description":"<%= service_description %>","duration":50,"rate":"100.0","callToBook":"false","requireCreditCardForNewClients":"unset"}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Tue, 31 Jan 2023 15:15:30 GMT
recorded_with: VCR 6.1.0
