---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BclinicianId%5D=2&filter%5BcptCodeId%5D=<%= service_id %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-version:
      - '2019-01-17'
      Application-build-version:
      - 0.0.0
      Application-platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      status:
      - 200 OK
      etag:
      - W/"14563e38a8c44ff0bd13e94803fad74d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"<%= location_id %>","type":"offices","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices/8377723"},"attributes":{"name":"<%= location_name %>","phone":"(626) 298-1956","isVideo":true,"geolocation":{"lat":"0.0","lng":"0.0"},"isPublic":false}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BcptCodeId%5D=3866&page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BcptCodeId%5D=3866&page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Tue, 31 Jan 2023 20:59:16 GMT
recorded_with: VCR 6.1.0
